.elementsContainer{
    padding: 2rem;
}

.tableElements{
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.buttonsContainer{
    display: flex;
    justify-content: space-between;
}

.buttonsContainer button{
    margin-right: 0.5rem;
}

.chartContainer{
    width: 100%;
    gap: 16px;
    display: flex;
    flex-direction: row;
}